# Node.js standart files and directories
node_modules/ 
npm-debug.log
package-lock.json

uploads/*
# Cached files and folders 
.cache/
dist/
build/
temp/
.tmp/
logs/
migrations/

# Secret data
.env

# IDE and editors
.vscode/
.idea/
jsconfig.json